html, body {
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  height: 100vh;
  background: #fafafb;
  box-sizing: border-box;
}



main {
  width: 100%; 
  background-color: #fffffe;
  padding: 5%;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  display: flexbox;
}

#Tazul{
  margin-top: 0;
  font-family: 'Arial', sans-serif;
  color: #1769ff;
  font-size: 25px;
  font-weight: bold;
} 

#historial {
  display: flex;
  margin: 0%;
  justify-content: space-between;
  align-items: start;
}

#historial h2 {
  margin: 0%
};

#historial button{
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #1769ff; /* azul intenso */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 6px;


}



#icon {
  background-color: white;
  color: #1769ff;
  font-weight: bold;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
  font-size: 0.9rem;
}


#lista {
  display: flex;
  justify-content: space-between;
}
#columna {

}

#bloque {
  margin-bottom: 60px;
}

#bloque h4 {

  margin: 0%;
}



#Tgris {
  font-size: 14px;
  color: rgb(117, 117, 117);
}
#Desplegable {
  width: 33%;

}
#Desplegable select {
    padding-left: 8px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: rgb(244, 245, 244);
    font-size: 17px;
     appearance: none;  /*Oculta el estilo nativo en algunos navegadores */
    cursor: pointer;
    width: 95%;
    height: 40px;
    padding-left: 10px;

    
}
#Desplegable input {
    padding: 0;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: rgb(244, 245, 244);
    font-size: 17px; /* Oculta el estilo nativo en algunos navegadores */
    cursor: pointer;
    width: 95%;
    height: 40px;
    
}
#observaciones{
    width: 68%;
}
#observaciones input {
    padding: 0;
    padding-right: 1%;
    margin-left: 1%;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: rgb(244, 245, 244);
    font-size: 17px; /* Oculta el estilo nativo en algunos navegadores */
    cursor: pointer;
    width: 95%;
    height: 40px;
    
}

#modulo {
    margin: 40px 0 40px 0 ;
    padding: 4%;
    padding-top: 2%;
    background-color: rgb(255, 255, 254);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#celdas {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}


#celdas h4 {
  margin: 0%;
}

#botonIA {
  background-color: rgb(14, 98, 254); /* Verde */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#botonflecha {
    background-color: rgba(255, 255, 255, 0); 
  border: none;
  color: black;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#botonflecha:hover {
  background-color: #00000032; /* Verde más oscuro al pasar el mouse */
}